<ul>
    <% @movies.each do |movie|%>
        <li>
            <strong><%= movie.title %></strong> (<%= movie.rating %>): 
            <%= total_gross(movie) %>
            <p>
                Description:<%=truncate(movie.description,  length: 40, separator: ' ') %>
            </p>

            <p>
                Released on: <%= year_of(movie) %>
            </p>
            
        </li>
    <% end %>
</ul>